@function base-unit($multiplier) {
    @return calc(#{$base-unit} * #{$multiplier});
}

@mixin small-double-text-before {
    -webkit-text-stroke: 0px transparent;
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: -1;
}

@mixin transition {
    transition: all 0.5s ease-in-out;
}

@mixin get-in-touch-animation {
    animation: 0.5s ease-in-out 1 forwards get-in-touch-bakground;
}

@keyframes get-in-touch-bakground {
    0% {
        height: 105%
    }
    50% {
        height: 2px;
    }
    80% {
        width: 105%;
    }
    100% {
        width: 100%;
        height: 3px;
    }
}

@mixin get-in-touch-animation-out {
    animation: 0.5s ease-in-out 1 forwards get-in-touch-bakground-out;
}

@keyframes get-in-touch-bakground-out {
    0% {
        height: 3px;
        border-radius: 5px;
    }
    95% {
        height: 105%;
    }
    100% {
        height: 100%;
    }
}

@mixin get-in-touch-apps-animation {
    animation: 0.5s ease-in-out 1 forwards get-in-touch-apps-animation;
}

@keyframes get-in-touch-apps-animation {
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        top: 40%;
        width: 100%;
    }
}

@mixin get-in-touch-apps-out {
    animation: 0.5s ease-in-out 1 forwards get-in-touch-apps-out;

}

@keyframes get-in-touch-apps-out {
    0% {
        opacity: 1;
        top: 40%;
        width: 100%;
    }
    30% {
        opacity: 0;
        top: 70%;
        left: 50%;
        width: 50%;
    }
}

@mixin project-header-appear {
    animation: 1s ease-in-out 1 forwards project-header-appear;
}

@keyframes project-header-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@mixin project-header-appear-img {
    animation: 1s ease-in-out 1 forwards project-header-appear-img;
}

@keyframes project-header-appear-img {
    0% {
        margin-top: base-unit(-1);
    }
    100% {
        margin-top: base-unit(2);
    }
}

@mixin project-content-appear {
    animation: 1s ease-in-out 1 forwards project-content-appear;
}

@keyframes project-content-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@mixin slow-appear {
    animation: 1s ease-in-out 1 forwards slow-appear;
}

@keyframes slow-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@mixin navbar-appear {
    animation: 1s ease-in-out 1 forwards navbar-appear;
}

@keyframes navbar-appear {
    0% {
        top: base-unit(-6);
    }
    100% {
        top: 0;
    }
}