@function base-unit($multiplier) {
    @return calc(#{$base-unit} * #{$multiplier});
}

@mixin small-double-text-before {
    -webkit-text-stroke: 0px transparent;
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: -1;
}

@mixin transition {
    transition: all 0.5s ease-in-out;
}

@mixin get-in-touch-animation {
    animation: 0.5s ease-in-out 1 forwards get-in-touch-bakground;
}

@keyframes get-in-touch-bakground {
    0% {
        height: 105%
    }
    50% {
        height: 2px;
    }
    85% {
        width: 105%;
    }
    100% {
        width: 100%;
        height: 3px;
    }
}

@mixin get-in-touch-animation-out {
    animation: 2s ease-in-out 1 forwards get-in-touch-bakground-out;
}

@keyframes get-in-touch-bakground-out {
    0% {
        height: 3px;
        border-radius: 5px;
    }
    25% {
        height: 105%;
    }
    30% {
        height: 100%;
    }
}

@mixin get-in-touch-apps-animation {
    animation: 0.5s ease-in-out 1 forwards get-in-touch-apps-animation;
}

@keyframes get-in-touch-apps-animation {
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        top: 40%;
        width: 100%;
    }
}

@mixin get-in-touch-apps-out {
    animation: 0.5s ease-in-out 1 forwards get-in-touch-apps-out;

}

@keyframes get-in-touch-apps-out {
    0% {
        opacity: 1;
        top: 40%;
        width: 100%;
    }
    30% {
        opacity: 0;
        top: 70%;
        left: 50%;
        width: 50%;
    }
}