$base-unit: 8px;

$title-blue: #86A9E8;
$title-beige: #FFBBA4;

$text-color: #222D32;
$white: #FFFFFF;

$button-background: linear-gradient(45deg, #6190E8, #A7BFE8);


$media-lt-sm: 'max-width: 599px';
$media-lt-md: 'max-width: 959px';
$media-lt-lg: 'max-width: 1279px';
$media-lt-xl: 'max-width: 1919px';
$media-gt-xs: 'min-width: 600px';
$media-gt-sm: 'min-width: 960px';
$media-gt-md: 'min-width: 1280px';
$media-gt-lg: 'min-width: 1920px';
